.wrap {
    width: 500px;
    min-height: 500px;
    border: 2px solid black;
}

.student {
    float: left;
    margin: 50px;
}

label {
    margin: 20px;
    font-size: 20px;
    
}

input {
    width: 300px;
    height: 40px;
    margin: 20px 20px;
    padding-left: 5px;
    font-size: 20px;
   
}

h2 {
    text-align: center;
}

.professor {
    float: left;
    margin: 50px;
}
.addlist{
    float: left;
    margin: 50px;
}

select {
    width: 300px;
    height: 40px;
    margin: 20px 20px;
}

#createStudent {
    background-color: aqua;
    border: 2px solid rgb(50, 59, 59);
    margin: 10px 80px;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}
#createProfessor {
    background-color: aqua;
    border: 2px solid rgb(50, 59, 59);
    margin: 10px 80px;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}
#addToList {
    background-color: aqua;
    border: 2px solid rgb(50, 59, 59);
    margin: 10px 80px;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}
.show{
   float: left;
    margin: 50px;
}
.final{
    float: left;
    margin: 50px;
}
.firstShow{
    height: 220px;
}